
.card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}


.card {
    margin-bottom: 20px; 
}


.navbar-brand {
    font-weight: bold;
    color: #007bff;
}


.container h1 {
    color: #333;
    margin-bottom: 15px;
}

.container p {
    font-size: 1.2em;
    color: #666;
}
